.elementor-28 .elementor-element.elementor-element-95bd625 {
    --spacer-size: 160px
}

.elementor-28 .elementor-element.elementor-element-05b7445 {
    text-align: left
}

.elementor-28 .elementor-element.elementor-element-2f01fb8 {
    --spacer-size: 100px
}

.elementor-28 .elementor-element.elementor-element-625c81c .elementor-heading-title {
    color: #fff
}

.elementor-28 .elementor-element.elementor-element-d219f36 {
    --spacer-size: 15px
}

.elementor-28 .elementor-element.elementor-element-6bdbcfa {
    --spacer-size: 15px
}

.elementor-28 .elementor-element.elementor-element-6d17e11 {
    width: var(--container-widget-width, 370px);
    max-width: 370px;
    --container-widget-width: 370px;
    --container-widget-flex-grow: 0;
    color: #FFFFFF99;
    font-size: .9375rem
}